.nm-modal {
    display: none;
    position: fixed;
    z-index: 10000; /* High z-index to ensure it appears above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.nm-modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.nm-modal-header h2 {
    margin: 0;
    font-size: 20px;
}

.nm-modal-header p {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}

.nm-profile-pic {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nm-modal-body {
    margin-top: 20px;
}

.nm-modal-body input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.nm-modal-body button {
    width: 100%;
    padding: 10px;
    background-color: #ff6a3d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.nm-modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nm-modal-footer a {
    background-color: transparent;
    color: #ff6a3d;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.nm-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 20px;
    cursor: pointer;
}

.nm-close:hover,
.nm-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nm-thank-you h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.nm-modal-body button {
    width: 100%;
    padding: 10px;
    color: white; /* Keep text color white unless overridden */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.nm-modal-footer a {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}
